<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="UI Suite" verbose="1" thread-count="2" parallel="methods">
    <listeners>
        <listener class-name="listener.LoggingListener"/>
        <listener class-name="listener.SuiteXmlTransformer"/>
        <listener class-name="listener.VideoListener"/>
    </listeners>
    <test name="Smoke">

        <parameter name="username" value="Admin"/>
        <parameter name="password" value="admin123"/>

        <classes>
            <class name="eu.senla.SuccessLoginTest"/>
            <class name="eu.senla.UnsuccessLoginTest"/>
            <class name="eu.senla.DashboardElementsTest"/>
            <class name="eu.senla.AddJobTitleTest"/>
            <class name="eu.senla.AddingPimSalesUserTest"/>
            <class name="eu.senla.SalesPersonalDetailsFormTest"/>
            <class name="eu.senla.AddOrganizationLocationTest"/>
            <class name="eu.senla.FilterOrganizationLocationTest"/>
            <class name="eu.senla.RemoveJobTitleTest"/>
            <class name="eu.senla.AssignLeaveFormTest"/>
            <class name="eu.senla.AssignLeaveTest"/>
            <class name="eu.senla.LogoutTest"/>
        </classes>
    </test>
</suite>
